



.reactive-slider .container-main {
    position: relative;
    overflow-x: hidden;
    oberflow-y: hidden;
    border-radius: 3px;
}


.reactive-slider .container-band {
    position: absolute;
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important
}
